@using Capstone.Web.Models.ViewModels
@model MealRecipeViewModel

    @{
        ViewBag.Title = "CreateMeal";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>Create Meal</h2>
    @using (Html.BeginForm("CreateMeal", "Meal", FormMethod.Post))
    {
        <div>
                @Html.TextBoxFor(m=>m.MealName, new { placeholder="Enter Meal Name"})
            @foreach (var item in Model.RecipeList)
            {
                <div>
                    <h1>@item.Text</h1> 
                    <h1>@item.Value</h1>
                   @Html.DropDownList("MealType", MealRecipeViewModel.MealTypes, new { placeholder = "please select type of meal"})

            </div>
            }
                @*@Html.DropDownListFor(m => m.RecipeNames,  , new { placeholder="Please select recipies"})*@
                @*@Html.DropDownList("MealType", MealRecipeViewModel.MealTypes,new { placeholder = "Please select meal type" })*@

            </div>
    }

