@using Capstone.Web.Models.ViewModels
@model MealRecipeViewModel
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><strong>@Model.MealName</strong></h2>


@if (TempData["action"] == "save")
{
    <div class="alert alert-success" role="alert">
        <h5>Succesfully added meal!</h5>
    </div>

}

@if (TempData["action"] == "update")
{
    <div class="alert alert-success" role="alert">
        <h5>Succesfully Updated meal!</h5>
    </div>

}

<div class="flex-item1">

    <div class="div-image thumbnail">
        <img src="~/Recipe-Images/@(Model.MealImageName)" />
    </div>
    <div class="div-content">
@for (int i = 0; i < Model.RecipeNames.Count; i++)
{
    <p><strong>@Model.RecipeNames[i]</strong>  @Model.MealType[i]</p>
}
    
    </div>
</div>

    <br />
    <br />
</div>

       
    </div>
</div>

@*@if (TempData["action"] == "update")
    {


    }
    else
    {*@
<div class="row">
    <div class="col-md-2 col-md-offset-5">
        @*<input type="Modify" value="Modify" class="createButton btn-primary" autofocus>*@
        <a href="/Recipe/ModifyRecipeView?RecipeId=@Model.RecipeId" class="btn btn-primary">Modify</a>
        <a href="/Recipe/DeleteRecipeView?RecipeId=@Model.RecipeId" class="btn btn-primary">Delete</a>

    </div>
</div>
@*}*@
</section>