@using Capstone.Web.Models.ViewModels
@model MealRecipeViewModel
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




@if (TempData["action"] == "save")
{
    <div class="alert alert-success" role="alert">
        <h5>Succesfully added meal!</h5>
    </div>

}

@if (TempData["action"] == "update")
{
    <div class="alert alert-success" role="alert">
        <h5>Succesfully Updated meal!</h5>
    </div>

}
<div class="row">
    <div class="col-lg-10 col-lg-offset-1">
        <h2><strong>@Model.MealName</strong></h2>
        <div class="flex-item1">

            <div class="div-image thumbnail">
                <img src="~/Recipe-Images/@(Model.MealImageName)" />
            </div>
            <div class="div-content">
                @for (int i = 0; i < Model.RecipeNames.Count; i++)
            {
                <p><strong>@Model.RecipeNames[i]</strong>  @Model.MealType[i]</p>
                }

            </div>
        </div>

    </div>
   
        <div class="row">
            <div class="col-md-2 col-md-offset-5">
                <p style="color:white">aaa</p>
                <p style="color:white">aaa</p>
                <p style="color:white">aaa</p>
                <a href="~/Meal/UnderConstruction" class="btn btn-primary createButton">Delete</a>
                                <a href="~/Meal/UnderConstruction" class="btn btn-primary createButton">Modify</a>

            </div>
        </div>
    </div>
