@using Capstone.Web.Models.ViewModels
@model List<MealRecipeViewModel>

@{
    ViewBag.Title = "Meals";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Meals</h2>

@if (TempData["action"] == "delete")
{
    <div class="alert alert-success" role="alert">
        <h5>Succesfully deleted meal!</h5>
    </div>

}
<div class="row">
    <div class="col-lg-6 col-lg-offset-1">

        <h1>Meals</h1>
    </div>

</div>



@{
    foreach (MealRecipeViewModel meal in Model)
    {

        <div class="row recipeTile">
            <div class="col-lg-4 recipeList">
                <div class="col-lg-12">
                    <a href="/Recipe/Detail?RecipeId=@meal.MealId"><img src="~/Recipe-Images/@(meal.MealImageName)" class="img-circle" /> </a>
                    <div class="col-lg-12">
                        <a href="/Recipe/Detail?RecipeId=@meal.MealId"><h2 class="recipeText">@meal.MealName</h2></a>
                    </div>
                </div>
            </div>
        </div>

    }
}