@using Capstone.Web.Models
@model List<Meal>

@{
    ViewBag.Title = "Meals";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Meals</h2>

@if (TempData["action"] == "delete")
{
    <div class="alert alert-success" role="alert">
        <h5>Succesfully deleted meal!</h5>
    </div>

}
<div class="row">
    <div class="col-lg-6 col-lg-offset-1">

        <h1>Meals</h1>
    </div>

</div>



@{

    for (int i = 0; i < Model.Count; i++)
    {
        <h2>@Model[i].MealName</h2>
        for (int j = 0; j < Model[i].Recipes.Count; j++)
        {
            <p>@Model[i].Recipes[j].RecipeName</p>
        }
    }

   

    
}

            @*<div class="row recipeTile">
                    <div class="col-lg-4 recipeList">
                        <div class="col-lg-12">
                            <a href="/Recipe/Detail?RecipeId=@meal.MealId"><img src="~/Recipe-Images/@(meal.MealImageName)" class="img-circle" /> </a>
                            <div class="col-lg-12">
                                <a href="/Recipe/Detail?RecipeId=@meal.MealId"><h2 class="recipeText">@meal.MealName</h2></a>
                                <a href="/Recipe/Detail?RecipeId=@meal.MealId"><h2 class="recipeText">@meal.RecipeName></h2>
                            </div>
                        </div>
                    </div>
                </div>*@

            
