.marginTop {
    /*margin: 0px 0px 0px 15px;*/ 
}
#banner {
    background-size: contain; 
    position: center; 
   background-color: white;   
}
/*#helloSummerImg{
    max-height: 240px; 
}*/

.createRecipe{
    display: block; 
    text-align: center; 
    padding: 50px; 
}
.createButton{
    
    padding: 10px;
}
.recipeForm {
    display: inline-block; 
    margin-left: auto; 
    margin-right: auto; 
    text-align: left; 
    border: 1px solid black; 
}
td {
    padding: 5px; 
}
body {
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    /*text-align: center;*/ 
    margin-bottom: 5%; 
}

main {
    flex: 1;
}
.recipeTile{
    display:inline-flex;
     width:500px;
     margin-left:3.3%;
    margin-right:3.3%;
}
.recipeList{

}
#register,#login{
    text-align:center;
    padding:2px;
    


}
 .flex-container {
        padding: 0px;
        margin: 0px;
        list-style: none;
        display: inline-flex;
        flex-flow: column;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .flex-item1 {
        padding: 0px;
        margin: 0px;
        display: inline-flex;
        flex-flow: column;
        flex-wrap: wrap;
        margin-top: 8px;
        height: 200px;
        float: left;
    }

    .div-image {
        height: 300px;
        width: 300px;
    }

    .div-content {
        height: 190px;
        max-width: 700px;
        margin-left: 120px;
        text-align: left;
    }

    .flex-item2 {
        clear: both;
        
        text-align: left;
        margin-left:10%
    }

    .flex-item3 {
        text-align: left;
        margin-bottom: 15px;
        margin-left:10%;
    }

    img {
        height: 190px;
        margin-left:30%;
    }
    footer{
        text-align: center;
    }
    #RecipeName{
        font-weight:bold;
        font-size:18px;

    }