.marginTop {
    /*margin: 0px 0px 0px 15px;*/ 
}
#banner {
    background-size: contain; 
    position: center; 
   background-color: white;   
}
/*#helloSummerImg{
    max-height: 240px; 
}*/

.createRecipe{
    display: block; 
    text-align: center; 
    padding: 50px; 
}
.createButton{
    margin-left: 40%; 
    padding: 10px;
}
.recipeForm {
    display: inline-block; 
    margin-left: auto; 
    margin-right: auto; 
    text-align: left; 
    border: 1px solid black; 
}
td {
    padding: 5px; 
}
body {
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    text-align: center; 
}

main {
    flex: 1;
}

