.marginTop {
    margin: 50px 0px 0px 15px; 
}
#banner {
    background-size: contain; 
    position: center; 
    max-height: 240px;  
    background-color: 	#DAE3E2;     
}
#helloSummerImg{
    max-height: 240px; 
}
body{
    background-color: 	#DAE3E2;     

}