
@{
    ViewBag.Title = "SuccessfullyAddedIngredient";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-success" role="alert">
    <h5>SuccessfullyAddedIngredient</h5>


    <p> Thank you for addinging an ingredient </p>
</div>
