@using Capstone.Web.Models.ViewModels
@model RecipeViewModel

@{
    ViewBag.Title = "CreateRecipe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #sortable, #ingred {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 60%;
    }

        #sortable li, #ingred li {
            margin: 0 3px 3px 3px;
            padding: 0.4em;
            padding-left: 1.5em;
            font-size: 1.4em;
            height: 18px;
        }

            #sortable li span, #ingred li span {
                position: absolute;
                margin-left: -1.3em;
            }

    .ui-draggable, .ui-droppable {
        background-position: top;
    }
</style>
<div class="form-group-lg">
    @using (Html.BeginForm("CreateRecipe", "Recipe", FormMethod.Post))
    {
        @Html.TextBoxFor(m => m.RecipeName, new { placeholder = "Enter Recipe Name", @class = "form-control form-control-lg", @id = "lgFormGroupInput" })
        @Html.TextAreaFor(m => m.RecipeDescription, new { placeholder = "Enter Recipe Description", @class = "form-control", @row = "3" })
        <ul id="ingred">
            <li class="ui-state-default">
                <span class="ui-icon ui-icon-arrowthick-2-n-s">
                    @Html.TextBoxFor(m => m.IngredientName, new { placeholder = "Ingredient", @class = "form-group-lg", @id = "ingredientName" })
                </span>
            </li>
        </ul>
        <br/>
        <div class="container-fluid">
            <ul id="sortable" class="form-group-lg">
                <li id="demo" class="ui-state-default" rows="3">
                    <span class="ui-icon ui-icon-arrowthick-2-n-s">

                    </span>
                </li>
            </ul>
        </div>
    }
</div>
<script>

    $(function () {
        $("#sortable").sortable();
        $("#sortable").disableSelection();
    });
    $("li").on('keyup', function (e) {
        if (e.keyCode == 13 || e.keyCode == 9) {
            var counter = 1;


            $("#sortable").append("<li id=\"demo\"> <li>")
            var x = document.getElementById("ingredientName").value;
            document.getElementById("demo").innerHTML = x;

            var current = $("#demo").last();
            var cloned = current.clone();
            cloned.find('input,textarea').val('');
            cloned.insertAfter(current);
            
        }
    });

</script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

