@using Capstone.Web.Models
@model List<Recipe>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Recipes</h1>

<p>this is the page with all of the recipes</p>

<div>
    @{
        foreach (Recipe recipe in Model)
        {
            
                <div class="row recipeTile">
                    <div class="col container-fluid recipeList">
                        <a href="/Recipe/Detail?RecipeId=@recipe.RecipeId"><img src="~/Recipe-Images/@(recipe.ImageName)" class="img-thumbnail" /> </a>
                        <a href="/Recipe/Detail?RecipeId=@recipe.RecipeId"><h2 class="recipeText">@recipe.Name</h2></a>
                        <p class="parkText">@recipe.Description</p>  
                    </div>
                   
                </div>
            
        }
    }
</div>




