@using Capstone.Web.Models.ViewModels
@model RecipeViewModel

@{
    ViewBag.Title = "SuccessfullyAddedRecipe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SuccessfullyAddedRecipe</h2>

<p> Thank you for adding a recipe </p>
<div>@Html.Action("SuccessfullyAddedDetails","Recipe")</div> 