@using Capstone.Web.Models.ViewModels
@model RecipeViewModel

@{
    ViewBag.Title = "SuccessfullyAddedRecipe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-success" role="alert">
    <h5>SuccessfullyAddedRecipe</h5>
    <p> Thank you for adding a recipe </p>
</div>
<div class="alert alert-success" role="alert">
    <strong>Well done!</strong> You successfully read <a href="#" class="alert-link">this important alert message</a>.
</div>

    
    <div>@Html.Action("SuccessfullyAddedDetails", "Recipe")</div>
