@using Capstone.Web.Models.ViewModels
@model RecipeViewModel

@{
    ViewBag.Title = "TestCreateRecipe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-10 col-md-offset-2">
        <div class="row">

            <div class="col-md-4 col-md-offset-4">
                <h2>TestCreateRecipe</h2>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <p>ENTER A NAME</p>
                </div>
                <div class="col-md-5">
                    <p>ENTER A DESCRIPTION</p>
                </div>
                <div class="col-md-2">
                    <p>COOKING TIME</p> 
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <p>SELECT RECIPE TYPE</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p>INGREDIENTS</p>
                </div>
                <div class="col-md-6">
                    <p>PREPARATION STEPS</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <p>SUBMIT FORM</p>
                </div>

            </div>
        </div>

    </div>
</div>


