
@model Capstone.Web.Models.User

<ul class="nav navbar-nav">
    <li><a href="~/Home">Home</a></li>
    <li><a href="Recipe/CreateRecipe">Create Recipe</a></li>
    <li><a href="#">Meal Planner</a></li>
</ul>
<ul class="nav navbar-nav navbar-right list-inline">

    <li><a href=""> Hi @Session[SessionKeys.Username]</a></li>

    <li>@Html.ActionLink("Logout", "Logout", "User")</li>

    </ul>

