
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>

    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <link href="~/Content/styleSheet.css" rel="stylesheet" />    
</head>
<body>
    <header>

        <div id="banner">
            <img src="~/Content/img/Meal Planner.png" id="helloSummerImg" class="img-responsive center-block" />
        </div>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-headernavbar-fixed-top">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="~/Home">Meal Planner</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                   
                        @Html.Action("Navigation", "User")
                    
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main>
            @RenderBody()
        </main>
    </div>
    <footer>

        <p>Team Foxtrot &copy; @DateTime.Now.Year</p>
    </footer>

</body>

</html>
